Discord-Bot-Inital.json
{
  "name": "Discord Bot Command",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Discord-Bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -976,
        -32
      ],
      "id": "c8f449de-0cfc-4865-bb05-0b7aa4059be7",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"type\": 5\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -752,
        -32
      ],
      "id": "9f9eda31-c8d9-4ab7-88c1-a3025f561135",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "BppaYqQhxpbJQzyU",
          "mode": "list",
          "cachedResultName": "Discord Bot - Matching",
          "cachedResultUrl": ""
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -304,
        -32
      ],
      "id": "10dc8a79-12ba-4369-b6d2-0e5b69d29bfa",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.subworkflow_id }}",
          "cachedResultName": "={{ $json.subworkflow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        128,
        -112
      ],
      "id": "85eb0211-31ee-41b2-a27e-8b89e5174c29",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174ec648-840e-4d9a-847b-69386147a72f",
              "name": "name",
              "value": "={{ $json.body.data.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -32
      ],
      "id": "7349c902-a83f-41f7-8bca-3dd6f48319d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/webhooks/{{ $('Respond to Webhook').item.json.body.application_id }}/{{ $('Respond to Webhook').item.json.body.token }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=content",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        -32
      ],
      "id": "fd15c7f2-74b3-4c02-a903-402445fe2930",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b86ac3e5-fdb1-441a-a1fb-1e26a353bf90",
              "leftValue": "={{ $json.subworkflow_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f36283f4-179a-4002-9f66-b7fb4e79b7d4",
              "leftValue": "={{ $json.subworkflow_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -32
      ],
      "id": "044a95da-b137-46b0-a028-be03e79d986b",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "86468a29-3b8a-4bdd-b3dd-dfc6364023d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "07VUupKBH29ukCu0",
  "tags": [
    {
      "updatedAt": "2026-03-12T13:27:03.823Z",
      "createdAt": "2026-03-12T13:27:03.823Z",
      "id": "juYSPByCC0Ei2J0X",
      "name": "Discord"
    }
  ]
}